.card-container {
    height: 100%;
    width: 500px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px;
     box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.card-container ul {
  list-style-image: url('../assets/green-tick.svg');
}

.card-container ul li {
  margin-bottom: 10px; /* Adjust spacing as needed */
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.button-container button {
    background-color: #00b289;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 100px;
    padding: 25px 30%;
    border-radius: 7pt;
}

#card-price {
    font-size: 2rem;
}